@model PolloVerde.Contexto.tb_menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_combo.descripcion_combo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_combo.descripcion_combo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_producto.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_producto.nombre_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_menu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
