@model PolloVerde.Contexto.tb_detalle_factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_detalle_factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tb_factura.id_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_factura.id_factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_producto.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_producto.nombre_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_detalle_factura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
