@{
    ViewBag.Title = "Pollo Verde";
}

<div class="jumbotron">
    <center><h1>POLLO VERDE</h1></center>
    <p class="lead">
        <center>Prueba nuestro exquisito y diferenciador <b>POLLO ASADO A LA PARRILLA</b></center>
    </p>
    <!--<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>--><p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ENLACES DIRECTOS</h2>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Region", "Index", "region")</li>
            <li>@Html.ActionLink("Sucursal", "Index", "sucursal")</li>
            <li>@Html.ActionLink("Combo", "Index", "combo")</li>
            <li>@Html.ActionLink("Menu", "Index", "menu")</li>
            <li>@Html.ActionLink("Tipo de Pago", "Index", "tipo_pago")</li>
            <li>@Html.ActionLink("Tipo de Producto", "Index", "tipo_producto")</li>
            <li>@Html.ActionLink("Detalle de Facturas", "Index", "detalle_factura")</li>
        </ul>
        <!--<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>--><p>
    </div>
    <div class="col-md-4">
        <h2>MISION</h2>
        <p>
            Es darle una vida de calidad a su principal producto -el pollo- y así proveer un alimento rico en nutrientes
            que mejore la alimentación nacional a un precio accesible.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>VISION</h2>
        <p>
            Convertirse en un lapso no mayor a 10 años en la principal referencia de comida saludable para el segmento de comidas rápidas en el 50% del territorio nacional.
        </p>
        <!--<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>--><p>
    </div>
</div>